# for running tests, you'll need the nose and coverage packages
coverage==6.5.0
coveralls  # really just for github, but it's fine
nose

# for building wheels, mostly from github, but it's fine
wheel

# for polishing up the Pip install
PLAN-Tools==0.5
